.header {
  color: pink;
  background-color: red;
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin-left: 30vw;
  font-weight: bold;
}

.button-med {
  margin-right: 30px;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
  background: url("./assets/blue-water.jpg");
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
