/* prettier-ignore */
@import url(
  https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap
);

:root {
  --heading-size: 12px;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.header {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  padding: 0 0 0 40px;
  font-weight: 300;
  color: rgb(26, 26, 26);
  font-size: var(--heading-size);
}

.header__button {
  margin-right: 30px;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
}

.hero__image {
  width: 100%;
  height: auto;
}

.hero__text {
  font-size: 12px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__button {
  margin: auto;
}

/* Highlights */
/* Features */
/* Testimonials */
/* Contact */
/* Footer */
