/* prettier-ignore */
@import url(
  https://fonts.googleapis.com/css?family=Lato:300,400,500|Roboto:300,400,500&display=swap
);

:root {
  --heading-size: 20px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  /* font-size: 24px;  Preferred icon size */
  font-size: 96px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.material-icons.feature__icon { font-size: 96px; color: dodgerblue; }

html,
body {
  margin: 0 auto;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.header {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  padding-left: 40px;
  font-weight: 400;
  color: rgb(26, 26, 26);
  font-size: var(--heading-size);
}

.header__button {
  margin: 0 30px 0 0;
  background: #007bff;
  border: 10px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 8px 8px;
  border-radius: 3px;
}

.header__button:hover,
:focus {
  background: #024893;
}

.header__button:active {
  box-shadow: 0 0 3px 2px #7bb9fc;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 20vh;
}

.hero__image {
  width: 100%;
  height: 550px;
}

.hero__text {
  width: 85%;
  font-size: 30px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__signup {
  width: 85%;
  position: absolute;
  top: 71%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__email {
  width: 93%;
  margin: 50px 0 10px 0;
  padding: 0 0 0 18px;
  border: 0;
  border-radius: 3px;
  font-size: 18px;
  height: 45px;
}

.hero__email:focus {
  background-color: white;
}

.hero__button {
  width: 100%;
  margin: 0;
  background: #007bff;
  border: 30px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 14px 8px;
  border-radius: 3px;
}

.hero__button:hover,
:focus {
  background: #024893;
}

.hero__button:active {
  box-shadow: 0 0 3px 2px #7bb9fc;
}
/* <!-- Features--> */

.features {
  display: flex;
  flex-direction: column; 
  text-align: center;
  margin-top: 100px;
  width: 80vw;
  margin: auto;
  padding: auto;
}

.feature {
  height: 60vh;
  font-weight: 100;
  font-size: 20px
}

.feature__icon {
  height: 100px;
  font-size: 96px;
  color: dodgerblue;
  margin-bottom: 10px;
}

.feature__icon:hover,:focus {
  margin-bottom: 10px;
  font-size: 105px;
}

.feature__headline {
  font-size: 28px;
  font-weight: 440;
  margin-bottom: .75rem;
}

.feature__description {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  line-height: 2rem;
  padding-top: 0px;
  margin-top: 0px;
}


/* <!-- Advantages --> */

.advantages {
  display: flex;
  flex-direction: column;
}

.advantage__first {
  background-size: cover;
  min-height: 30rem;
  background-image: url(./assets/cellphone.jpg);
}

.advantage__second {
  background-size: cover;
  min-height: 30rem;
  background-image: url(./assets/code.jpg);
}

.advantage__third {
  background-size: cover;
  min-height: 30rem;
  background-image: url(./assets/legos.jpg);
}



/* <!-- Testimonials --> */
/* <!-- Contact --> */
/* <!-- Footer --> */


/* <!-- Media Queries --> */
@media (min-width: 992px) {
  .features {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .feature {
    width: 30vw;
  }
}
